/*Tienda*/
.tienda h2{
	font-family: 'Open Sanz';
	text-transform: uppercase;
	font-weight: bold;
}
.tienda{
	padding: 50px;
}
.tienda .btn-info{
	background-color: #B30017;
	border: solid #B30017;
}
.tienda .btn-info:hover{
	background-color: #B30017;
	border: solid #B30017;
}

